<div class='container'>
    <div class="header">
        <span>Hi {{userName}}</span>
        <div class="exit" (click)="exit()"><i class="fa-solid fa-right-from-bracket"></i></div>
    </div>
    <div class="gameContent">
        <p class="score">Merged pull request: {{scoreView}}</p>
        <p class="upgrades" *ngIf="autoClickers>=1">
            <span>Auto mergers: {{autoClickers}}</span><br>
            <span *ngIf="autoClickerUpgrade >=1">Auto mergers upgrades: {{autoClickerUpgrade}}</span><br>
            <span *ngIf="megaClicker >=1">Clicker upgrades: {{megaClicker}}</span>
        </p>
        <!-- <div class="shop"> -->
        <button class="singleMerge" (click)="addMerge()"><i class="fa-solid fa-arrow-turn-up"></i> MERGE</button>
        <button class="shopButtons" *ngIf="score>=50 || autoClickers>0" (click)="buyAutoClicker()" [disabled]="!canBuyAutoClicker" #autoMergerBtn>
            <i class="fa-solid fa-basket-shopping"></i> BUY AUTO MERGER ({{autoClickerCostView}})
        </button>
        <button class="shopButtons" *ngIf="score>=2000 || autoClickerUpgrade>0" (click)="buyAutoClickerUpgrade()" [disabled]="!canBuyAutoClickerUpgrade" #autoMergerUpgradeBtn>
            <i class="fa-solid fa-basket-shopping"></i> UPGRADE AUTO ({{autoClickerUpgradeCostView}})
        </button>
        <button class="shopButtons" *ngIf="score>=5000 || megaClicker>0" (click)="buyMegaClicker()" [disabled]="!canBuyMegaClicker" #megaClickerBtn>
            <i class="fa-solid fa-basket-shopping"></i> BUY MEGA CLICKER ({{megaClickerCostView}})
        </button>
        <!-- </div> -->
    </div>
</div>