<div class='container'>
    <div class='logo'><i class="fa-solid fa-computer-mouse"></i></div>
    <br>
    <p class='title'>Create a new player</p>
    <div class="player">
        <input type="text" class="userName" #userInput (input)="saveUser(userInput.value)">
        <span class="place" #placeholder>Name *</span><br>
        <span class="errorMess" *ngIf="incorrectUser">{{errorMessage}}</span>
    </div>
    <div class="btns">
        <input class='login' type='button' value='Join' (click)="validateUser()" />
        <input class='ranking' type='button' value='Ranking' (click)="showRanking()" />
    </div>
</div>